<footer>
  <div class="row"></div>
  <span class="navbar-text footer-text">MintFarm</span>
  <br />
  <i class="fab fa-twitter"></i>
  <i class="fab fa-facebook-square"></i>
  <i class="fab fa-google-plus-g"></i>
  <i class="fas fa-envelope"></i>
</footer>
