
<%- include("partials/header"); -%>

  <div class="account-basket-items">
    <img class="basket-image" src="/images/mint-gum.jpg" alt="item.img">
    <p class="basket-name">Mint Gum</p>
    <p class="basket-quantity" >quantity: 3</p>
    <p class="basket-price">price per item: £3.49</p>
    <p class="basket-price">price (all items): £3.49</p>
  </div>

<%- include("partials/noFooter"); -%>
