/* Login */

.login-page {
  height: 100vh;
  background-color: #a8e6cf;
}

.login-box {
  margin-top: 40px;
  background-color: #313131;
  color: #edffea;
  padding: 70px;
  border-radius: 10px;
}

.login-items {
  width: 300px;
  text-align: center;
}

.login-title {
  font-family: "Yellowtail", cursive;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.button-anchor {
  flex: 1;
}

.login-button {
  margin-top: 1rem;
  width: 80%;
}

.login-buttons {
  display: flex;
}

/* Account page */

.account-bar {
  background-color: #313131;
}

.account-list {
  margin-top: 100px;
  font-size: 1.15rem;
  line-height: 2.5rem;
  list-style: none;
  color: #999;
  position: fixed;
}

.account-title {
  font-family: "Yellowtail", cursive;
  margin-bottom: 2rem;
}

.account-subTitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.account-container {
  padding: 8%;
}

.account-page-box {
  background: rgba(0, 0, 0, 0.12);
  padding: 4%;
}

.link,
.link:visited,
.link:hover,
.link:active {
  color: inherit;
}

.logout-button {
  display: none;
}

@media only screen and (max-width: 990px) {
  .account-bar,
  .basket-image {
    display: none;
  }
  .logout-button {
    display: block;
  }
}

/* Basket */

.account-basket-items,
.account-basket-table,
.account-basket-bottom {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.account-basket-items {
  background: rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
}

.account-basket-table {
  margin-bottom: 10px;
}

.account-basket-bottom {
  margin-top: 10px;
}

.basket-name,
.basket-price,
.basket-quantity {
  padding-top: 15px;
}

.basket-name {
  flex: 1.2;
}

.basket-quantity,
.basket-price {
  flex: 0.5;
}

.delete-button {
  flex: 0.2;
  color: #a20a0a;
}

.basket-image {
  width: 5%;
  flex: 0.15;
}

.basket-button {
  margin: auto;
  flex: 0.2;
}

.basket-message {
  text-align: center;
}
