html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #edffea;
}

h1 {
  font-weight: 900;
  padding-bottom: 1rem;
}

h2 {
  font-weight: 600;
}

h4 {
  letter-spacing: 0.25rem;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 30px 0;
}

/* Navbar */

.navbar-text {
  font-family: "Yellowtail", cursive;
  font-size: 1.5rem;
}

.navbar-padding {
  padding: 0 7%;
}

/* Footer */

footer {
  background-color: #313131;
  text-align: center;
  color: #999;
  padding: 30px;
}

footer i {
  margin: 0 5px;
}

.footer-text {
  font-size: 1.5rem;
  font-family: "Yellowtail", cursive;
  margin-bottom: 5px;
}

/* Hidden */

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

/* Spinner */

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #216353;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
