
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #edffea;
}

h1 {
  font-weight: 900;
  padding-bottom: 1rem;
}

h2 {
  font-weight: 600;
}

h4 {
  letter-spacing: 0.25rem;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

/* Navbar */

.navbar-text {
  font-family: 'Yellowtail', cursive;
  font-size: 1.5rem;
}

.navbar-padding {
  padding: 0 7%;
}

/* Title */

.title-container {
  height: 600px;
  width: 100%;
  margin: 0;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-left {
  background-color: #216353;
  padding-left: 10%;
  padding-right: 5%;
  line-height: 1.7rem;
}

.title-right {
  background-color: #75daad;
}

.title-box {
  color: #edffea;
  margin-top: 50px;
}

.title-button {
  margin-top: 1rem;
}

.title-icon {
  color: #216353;
  font-size: 6rem;
}

.circle {
  margin-top: 50px;
  border-radius: 100%;
  background-color: #edffea;
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 990px) {
  .title-right{
    display: none;
  }
}

/* Qualities */

#qualities {
  padding: 120px 10%;
  color: #434e52;
}

.qual-box {
  text-align: center;
  font-weight: 300;
  padding: 40px;
}

.qual-item {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

/* Testimonial */

.test-box {
  background-color: #216353;
}

.fabio {
  width: 500px;
  float: left;
  margin-right: 50px;
}

.fabio-tesitmonial, .product-review {
  color: #edffea;
  padding: 50px;
}

.test-title {
  float: right;
}

.test-header {
  padding: 100px 0 4% 0;
}

.test-info {
  float: right;
  opacity: 0.8;
  padding-top: 2%;
  padding-right: 1%;
  font-weight: 300;
  font-size: 0.8rem;
}

@media only screen and (max-width: 990px) {
  .fabio, .ice-cream {
    display: none;
  }
  .test-box, .product-box {
    height: 425px;
  }
}

/* Best Product */

.product-box {
  background-color: #75daad;
  margin-top: 150px;
  margin-right: 0;
}

.ice-cream {
  width: 500px;
  float: right;
  margin-left: 50px;
}

.product-title {
  float: left;
}

.product-header {
  padding: 100px 0 4% 0;
}

.button-product {
  background-color: #216353;
  margin-top: 2%;
}

@media only screen and (max-width: 990px) {
  .product-box,.test-box {
    height:500px;
  }
}

/* Contact info */

#contact-info {
    background-color: #313131;
    padding: 50px 10%;
    margin-top: 150px;
    color:  #999;
}

#map {
  margin-top: 30px;
  height: 400px;
  width: 600px;
}

.location {

}

.vl {
  border-left: 1px solid #999;
  height: 95%;
}

/* Footer */

footer {
  background-color: #313131;
  text-align: center;
  color: #999;
  padding: 30px;
}

footer i {
  margin: 0 5px;
}

.footer-text {
  font-size: 1.5rem;
    font-family: 'Yellowtail', cursive;
    margin-bottom: 5px;
}

/* Login */

.login-page {
  height: 100vh;
  background-color: #a8e6cf;
}

.login-box {
  margin-top: 25px;
  background-color: #313131;
  color: #edffea;
  width: 450px;
  height: 450px;
  border-radius: 10px;
}

.login-items {
  width: 300px;
  text-align: center;
}

.login-title {
  font-family: 'Yellowtail', cursive;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.button-anchor {
    flex: 1;
}

.login-button {
  margin-top: 1rem;
  width: 80%;

}

.login-buttons {
  display: flex;
}

/* Products */

.product-bar {
  background-color: #216353;
}

.product-section {
  background-color: #a8e6cf;
  padding:50px;
}

.product-page {
  padding: 8%;
}

.border-shadow {
  box-shadow: 5px;
}

/* Cards */

h5 {
  font-size: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  color: white;
  margin: 10px;
}
.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

.card-anchor, .card-anchor:hover {
  color: initial;
}

.card-anchor:hover, .link:hover {
  text-decoration: initial;
}

  .text-muted i {
    margin: 0 10px;
  }

/* Product-page */

.item-page {
  height: 100vh;
  padding: 8%;
}

.wrapper {
  height: 450px;
  display: flex;
  background-color: #216353;
  color: #edffea;
}

.product-img {
  flex: 1;
}

.product-info {
  padding: 30px;
  height: 450px;
  width: 600px;
  flex: 1;
}

.product-page-header {
  padding-top: 50px;
}

/* Account page */

.account-bar {
  background-color: #313131;
}

.account-list {
  margin-top: 100px;
  font-size: 1.15rem;
  line-height: 2.5rem;
  list-style: none;
  color: #999;
  position: fixed;
}

.account-title {
  font-family: 'Yellowtail', cursive;
  margin-bottom: 2rem;
}

.account-subTitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.account-container {
  padding: 8%;
}

.account-page {
  height: 100vh;
}

.account-page-box {
  background: rgba(0,0,0,0.12);
  padding: 4%;
}

.link, .link:visited, .link:hover, .link:active {
  color: inherit;
}

/* Basket */

.account-basket-items {
  display: flex;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

 .basket-name, .basket-quantity, .basket-price {
  flex: 1;
}

.basket-image {
  width: 5%;
  flex: 0.1;
}
